/* page inicio y propiedades generales */
header {
  /* background-color: rgba(99, 8, 122, 0.774); */
  background-color: black;
}

header .inicial {
  background-color: rgba(107, 35, 167, 0.397);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
}

header .inicial .inicial__iconos {
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .inicial .inicial__iconos svg {
  margin-right: 15px;
}

header .inicial__logo img {
  display: block;
  margin: auto;
  max-width: 18rem;
}

@media (min-width: 768px) {
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none;
  }
  .inicial__iconos {
    margin-left: auto;
  }
}

@media (min-width: 1420px) {
  .buscar {
    position: absolute;
    padding-left: 40rem;
  }
  .buscar input {
    width: 47rem;
    height: 0px;
    padding: 20px 20px;
    font-size: 18px;
    color: black;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
  }
  .btn {
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    color: black;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    line-height: 45px;
    padding-top: 0px;
  }
}

/* SEARCH NAV */
nav ul {
  list-style: none;
  text-align: center;
  background-color: rgba(99, 8, 122, 0.774);
  -webkit-box-shadow: 0px 14px 16px -7px grey;
          box-shadow: 0px 14px 16px -7px grey;
  padding: 5px 20px 5px 20px;
  margin-bottom: 0px;
  font-size: 0;
  min-height: 7vh;
}

nav ul li {
  margin: 0rem 4rem;
  display: inline-block;
  width: 8%;
  position: relative;
  font-size: 14px;
  display: block;
  padding-top: 10px;
}

nav ul li:hover ul {
  display: block;
}

nav ul li a {
  text-decoration: none;
}

nav ul li a p {
  color: white;
  font-size: 20px;
}

nav ul li ul {
  position: absolute;
  display: none;
}

nav ul li ul li {
  display: block;
}

.contenedorSection1__img {
  width: 100%;
}

section {
  text-align: center;
}

/* page componentes */
.titulo {
  color: black;
  font-family: 'Bree Serif', serif;
  font-family: 'Patua One', cursive;
  font-family: 'Poppins', sans-serif;
  font-family: 'Saira', sans-serif;
  padding: 10px;
}

@media (min-width: 768px) {
  .section__componentes {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.section__componentes .desc-componente {
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__componentes .contenedor-componentes {
  max-width: 50%;
  max-height: auto;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.section__componentes .contenedor-componentes__img {
  margin: 70px 50px 70px 50px;
  max-height: 300px;
  max-width: auto;
}

.section__componentes .boton-productos {
  border-radius: 5px;
  font-size: 1.1rem;
  text-align: center;
  height: 50px;
  width: 180px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  margin: 1.2rem 0;
  background: transparent;
}

.section__componentes .boton-productos:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  background-color: rgba(99, 8, 122, 0.774);
  color: white;
}

.section__componentes .contenedor-componentes {
  max-width: 100%;
  max-height: auto;
}

.section__componentes .contenedor-componentes__img {
  -webkit-transition: all .3s;
  transition: all .3s;
}

.section__componentes .contenedor-componentes__img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

/* page pcs armadas */
@media (min-width: 768px) {
  .section__pcsArmadas {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.section__pcsArmadas .desc-pc {
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__pcsArmadas .contenedor-pcsArmadas {
  max-width: 50%;
  max-height: auto;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.section__pcsArmadas .contenedor-pcsArmadas__img {
  margin: 70px 50px 70px 50px;
  min-width: 60%;
}

.section__pcsArmadas .contenedor-pcsArmadas__img2 {
  margin: 70px 50px 70px 50px;
  min-width: 100%;
}

.section__pcsArmadas .boton-productos {
  border-radius: 5px;
  font-size: 1.1rem;
  text-align: center;
  height: 50px;
  width: 180px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  margin: 1.2rem 0;
  background: transparent;
}

.section__pcsArmadas .boton-productos:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  background-color: rgba(99, 8, 122, 0.774);
  color: white;
}

.section__pcsArmadas .contenedor-pcsArmadas {
  max-width: 100%;
  max-height: auto;
}

.section__pcsArmadas .contenedor-pcsArmadas__img {
  -webkit-transition: all .3s;
  transition: all .3s;
}

.section__pcsArmadas .contenedor-pcsArmadas__img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.section__pcsArmadas .contenedor-pcsArmadas__img2 {
  -webkit-transition: all .3s;
  transition: all .3s;
}

.section__pcsArmadas .contenedor-pcsArmadas__img2:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

/* page nosotros */
.contenedor-nosotros {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 38rem 1fr;
      grid-template-columns: 38rem 1fr;
}

.contenedor-nosotros .nosotros__img {
  max-width: 37rem;
  max-height: auto;
  margin-left: 0.3rem;
  padding-bottom: 20px;
}

.contenedor-nosotros .nosotros__txt {
  text-align: left;
  margin: 0;
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
}

.contenedor-nosotros .letraBolder {
  font-weight: bolder;
}

.contenedor-nosotros .nosotros__txt2 {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 5px;
          padding-inline-start: 5px;
}

.contenedor-nosotros .nosotros__txt3 li {
  display: list-item;
  text-align: -webkit-match-parent;
}

/* page contacto */
@media (min-width: 480px) {
  form {
    width: 450px;
    margin: auto;
    background: rgba(0, 0, 0, 0.4);
    padding: 0px 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 7px;
    padding-bottom: 20px;
  }
  .input-form {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 17px;
    border-radius: 10px;
    border: 0px;
  }
  .textArea-form {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 17px;
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
  }
  #boton {
    background: rgba(99, 8, 122, 0.774);
    color: #fff;
    padding: 20px;
  }
  #boton:hover {
    cursor: pointer;
  }
}

/* page ubicacion */
.footer {
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  background: #202020;
  color: white;
  width: 100%;
  padding-top: 10px;
}

.footer .footer-container-all {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 40px;
}

.footer .footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .column1 {
  max-width: 400px;
}

.footer .column1 h1 {
  font-size: 22px;
}

.footer .column1 p {
  font-size: 14px;
  color: #c7c7c7;
  margin-top: 20px;
}

.footer .column2 {
  max-width: 400px;
}

.footer .column2 h1 {
  font-size: 22px;
}

.footer .rowFooter {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .rowFooter img {
  width: 36px;
  height: 36px;
}

.footer .rowFooter label {
  margin-top: 10px;
  margin-left: 10px;
  color: #c7c7c7;
}

.footer .column3 {
  max-width: 400px;
}

.footer .column3 h1 {
  font-size: 22px;
}

.footer .rowFooter2 {
  margin-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .rowFooter2 img {
  width: 36px;
  height: 36px;
}

.footer .rowFooter2 label {
  margin-top: 10px;
  margin-left: 20px;
  max-width: 150px;
}

.footer .footer__container2 {
  width: 100%;
  background: #101010;
}

.footer .containerPoliticas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.footer .copyright {
  color: #c7c7c7;
}

.footer .information a {
  text-decoration: none;
  color: #c7c7c7;
}

@media screen and (max-width: 1100px) {
  .footer .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer .column2,
  .footer .column3 {
    margin-top: 40px;
  }
}
/*# sourceMappingURL=style.css.map */